/* Colors used
#448cff
*/

/* Body goes first */
body {
	background-image: url("img/retro_bg_1.png");
	background-color: #448cff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
}

/* Required for mobile */
@media only screen and (max-width:900px), (max-device-width:900px){
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("img/retro_bg_1.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}

/* white text for links */

a {
	color: #ffffff;
}

/* Maxwidth 800 */
.max800{
	max-width: 800px;
}

/* Roaddrive background */
.road-background{
	background-image: url("img/gif7.gif");
	background-size: cover;
	background-position: center;
	max-width: 800px;
	max-height: 600px;
}

.road-background-paused{
	background-image: url("img/gif7.jpg");
		background-size: cover;
	background-position: center;
	max-width: 800px;
	max-height: 600px;
}

/* Info container */

.info{
	background-color: #122747;
	  margin-right: auto;
  margin-left: auto;
}

.info2{
	background-color: #283c5b;
		  margin-right: auto;
  margin-left: auto;
}

.padding{
	padding: 8px;
}

/* Img-help */

.img-help {
	height: 22px;
	cursor: pointer;
	vertical-align:	top;
}

.img-help:hover {
	filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
}

.img-help2 {
	height: 48px;
	cursor: pointer;
}

.img-help2:hover {
	filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
}

.img-help-big {
	height: 80px;
	cursor: pointer;
}

.img-help-big:hover {
	filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
}

.img-dark {
	height: 48px;
	filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
}

/* SnailThrone background */

.snailthrone{
	background-image: url("img/snailthrone_blue.png");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 200px;
}

/* White text with black shadow for contrast */

.black-shadow {
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Image border */

.img-border {
	border: 32px solid;
	border-image: url("img/border_5.png") 32 round;
}

.img-border2 {
	border: 8px solid;
	border-image: url("img/border_5.png") 16 round;
	margin: 4px;
}

/* Egg and ether backgrounds */

.egg{
	background-image: url("img/egg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 128px;
}

.ether{
	background-image: url("img/ether_brown.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 128px;
}


a:hover{
	text-decoration: none;
}

p {
	margin: 0px;
	padding: 0px;
}


.testimonial{
	height: 128px;
	border: 4px solid #FFFFFF;
}

.container-poem{
	margin-left: 6rem;
	margin-right: 6rem;
}

.jumbotron {
	background-color: #000000;
	position: center;
	margin-left: auto;
	margin-right: auto;
	border: 32px solid;
	border-image: url("img/border_5.png") 32 round;
	padding: 1rem 1rem;
	margin-bottom: 0.5rem;
	border-radius: 0.2rem;
}

@media (min-width: 576px) {
  .jumbotron {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .jumbotron{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .jumbotron{
    max-width: 1140px;
  }
}

.border6{
	border-image: url("img/border_6.png") 48 round;
}



.container-social {
	background-color: #8eb6bf;
	color: black;
	position: center;
	padding: 0.5rem 0.5rem;
}

.black-shadow {
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.scroll-box {
	width: 100%; 
	overflow: auto; 
	overflow-x: hidden; 
	height: 128px;
}

.btn {
	color: #000000;
	border: 4px solid;
	border-image: url("img/border_5.png") 16 round;
}

.btn-lg {
	color: #000000;
	border: 8px solid;
	border-image: url("img/border_5.png") 16 round;
}

/* Green outline remover */
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-success:hover {
  color: #fff;
  background-color: #a45436;
  border-color: #1e7e34;
  outline: 0;
}

.leader-style {
	font-size: 1.25rem;
}

.wonkers-container {
	background-image: url("img/pile_nuts_2.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* Modal (from W3Schools) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    width: 100%;
	max-width: 960px;
}

/* The Close Button */
.close {
    font-size: 16px;
    font-weight: bold;
	color: white;
	vertical-align: text-top;
    float: right;
}

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.uppercase {
	text-transform: uppercase;
	font-weight: bold;
}

/* Pulse on hover */

.pulseperma{
	cursor: pointer;
	-webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	        animation: pulsate-fwd 1s ease-in-out infinite both;
}

.pulse:hover{
	cursor: pointer;
	-webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	        animation: pulsate-fwd 1s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-18 20:18:21
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Scale in for modals */

.scale-in {
	-webkit-animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-18 21:51:30
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/* Text animation */

.focus-in-expand {
	font-size: 80px;
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-21 15:25:47
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* Lambo Slide */

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-21 16:56:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.vibrate-1{
	-webkit-animation: vibrate-1 0.3s linear 2s infinite both;
	        animation: vibrate-1 0.3s linear 2s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-21 16:57:37
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}



